<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @item.task %>
</p>

<p>
  <strong>Date:</strong>
  <%= @item.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @item.time %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @item.priority %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
